# Size of window
550x400

# Size of canvas (holding the table)
# Note: Recommended size is 50 pixels less than size of window
500x350

# Configuration syntax for items:
# text -> The text of the item
# bg -> The background of the block containing the item
# fg -> The color of the text within the block
# font -> The font of the text
# font_size -> The size of the font
# font_style -> Add styling to the text (bold, italic, underline)
# wrap_length -> Maximum length of text before writing on next line (0 - NONE)
# X_coordinate -> X position of item on the grid
# Y_coordinate -> Y position of item on the grid
# row_span -> How many rows to span across (1 - DEFAULT)
# column_span -> How many columns to span vertically (1 - DEFAULT)
# margin_left -> External space on the left side of the text
# margin_top -> External space on the top side of the text
# margin_right -> External space on the right side of the text
# margin_bottom -> External space on the bottom side of the text
# padding_left_right -> Internal space on the left/right of the text
# padding_top_bottom -> Internal space on the top/bottom of the text

# List of items 

Text of label 1,grey,red,Helvetica,10,bold,0,0,0,1,1,0,0,0,0,10,10
Text of label 2,grey,red,Helvetica,10,bold,0,0,1,1,1,0,0,0,0,0,0
Text of label 3,green,red,Helvetica,10,bold,0,1,0,1,1,0,0,0,0,0,0
Text of label 4,green,red,Helvetica,10,bold,0,1,1,1,1,2,2,2,2,0,0